{% extends 'AMAdminBundle::layout.html.twig' %}
{% block body %}
    <h2>Create new Administrator user</h2>
    <div class="well">
        <div class="container">
            {{ form(create_form) }}
        </div>
    </div>

{% endblock %}