{% extends 'AMSiteBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} HomePage
{% endblock %}

{% block body %}
    <h1> Hello World </h1>
    <div>
        {{ comment.author }}
        {{ comment.comment }}
    </div>
{% endblock %}
